h1{
    color:#4073c7;
    text-align: center;
    font-size: 50px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
    background-color: rgb(168, 72, 136);
    background-image: url('Imagens/BennyMinga.jpg');
    background-size: cover;
    background-blend-mode: normal;

    border: 5px dotted blue;
    border-radius: 25px;
}


.texto-branco{
    color: whitesmoke;

}



.texto-vermelho{
    color: rgb(235, 143, 143);

}

#linha3{
    color: rgb(27, 27, 228);
}


h1{
    background-color: rgb(218, 213, 213);
}


div{
    height: 50px;
    width: 800px;
    background-color: brown;
    opacity: 0.4;
    font-size: xx-large;
    margin: 50px auto;
    
    
}

#linha4{
    color: cornsilk;
    margin:50px 250px ;
}