#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.quadrado {
    background-color: greenyellow;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.quadrado2 {
    background-color: orange;
    height: 200px;
    width: 200px;
    margin: 20px;
}